<link type="text/css" href='/styles/challenge.css' rel='stylesheet' />


<div class="container ">
<h1 id="title">Agenda Telefónica</h1>    
    <div class="row margin_top_layout" >
        <div class="col-md-4">
            <small class="form-text text-muted">Agregar Contacto.</small>
            <div id="add_contact" class="card" style="width: 20rem;">
                <div class="card-body">

                    <form id="frm_avatar_upload" action="#" method="post">
                        <label class="custom-file">
                            <input name="avatar" type="file" id="avatar" class="custom-file-input"  accept=".jpg, .jpeg, .png" required>
                            <span class="custom-file-control"></span>
                        </label>
                    </form>

                    <form id="frm_add_contact" action="#" method="post">

                        <div class="form-group">
                            <label for="">Nombre</label>
                            <input id="nombre" name="nombre" type="nombre" class="form-control" placeholder="" required>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label class="col-form-label">Lada</label>
                                <input id="lada" name="lada" type="text" maxlength="3" class="form-control" required>
                            </div>
                            <div class="form-group col-md-69">
                                <label class="col-form-label">Número</label>
                                <input id="telefono" type="tel" name="telefono" placeholder="XXX-XXX-XXXX" pattern="\d{3}\ \d{3}\-\d{4}" class="masked form-control"
                                    required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="">Correo Electrónico</label>
                            <input id="correo" name="correo" type="email" class="form-control" required>
                        </div>

                        <button id="btn_add_contact" type="button" class="btn btn-primary text-right float-right">Guardar</button>

                    </form>

                </div>
            </div>
            <!-- end card-->
        </div>
        <div class="col-md-8">
            <small class="form-text text-muted">Lista de contactos.</small>
            <div id="container_contacts">

                {{#each data}} 
                <div class="row item " data-toggle="collapse" href="#collapseExample{{@index}}" aria-expanded="false" aria-controls="collapseExample{{@index}}">
                    <div class="form-control">
                        <div class="row">
                            <img src="{{pathImage}}" alt="imagen avatar" class="col-md-2 avatar">
                            <h4 class="text-justify col-md-9">{{nombre}}</h4>
                        </div>
                        <div class="collapse" id="collapseExample{{@index}}">
                            <div class="card card-body">
                                <div class="row">
                                    <h6 class="col-md-5">Telefono:{{telefono}}</h6>

                                    <h6 class="col-md-7">Correo:{{correo}}</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {{/each}} {{!--
                <div class="row item " data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <div class="form-control">
                        <div class="row">
                            <img src="/images/avatar.jpg" alt="imagen avatar" class=" col-md-2 avatar">
                            <h4 class="text-justify col-md-9">Edwin Dennis</h4>
                        </div>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <div class="row">
                                    <h6 class="col-md-5">Telefono:9511203318</h6>

                                    <h6 class="col-md-7">Correo:edwindennis@hotmail.com</h6>
                                </div>



                            </div>
                        </div>

                    </div>
                </div> --}} {{!--
                <div class="row item " data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <div class="form-control">
                        <div class="row">
                            <img src="/images/avatar.jpg" alt="imagen avatar" class=" col-md-2 avatar">
                            <h4 class="text-justify col-md-9">Edwin Dennis</h4>
                        </div>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <div class="row">
                                    <h6 class="col-md-5 font-weight-bold">Telefono:<span>9511203318</span></h6>

                                    <h6 class="col-md-7 font-weight-bold">Correo:<span>edwindennis@hotmail.com</span></h6>
                                </div>



                            </div>
                        </div>

                    </div>
                </div> --}}

            </div>

        </div>

    </div>




</div>




{{!-- {{>links}} --}}