#title{
    margin-top: 1em;
}
.margin_top_layout{
    margin-top: 3em;
}

#add_contact{
    position: fixed;
    
}

#container_contacts{
    border-radius: 10px;
    border: 2px solid #e3e4e1;
}

.item{
    margin: 1em 1em 1em 1em;
    box-shadow: 0 4px #999;
    border-radius: 15px;
}

.item:hover {background-color: #B40486}

.avatar{
    width: 50%;
    height: 100px ;
    border-radius: 10%;
    border: 1px dashed #000;
    margin-left: 1em;
}
